
.shop{
  background-color: rgb(236, 236, 236);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.navbar{
  display: flex;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  padding-left: 10rem;
  padding-right: 10rem;
  height: 100px;
  background-color: white;

  &__logo{
    margin-top: 7px;

    &_icon{
      width: 80px;
      height: 80px;
      margin-bottom: -20px;
      
    }

    &_name{
      font-size: 40px;
      margin-left: 15px;
    }
  }

  &__select{
    margin: auto 10px auto auto;
    position: relative;

    &_icon{
      width: 30px;
      height: 30px;
    }

    &_counter{
      position: absolute;
      left: 18px;
      top: 18px;
      background-color: rgba(255, 0, 0, 0.7);
      width: 15px;
      height: 15px;
      border-radius: 10px;
      text-align: center;
      color: #fafafa;
    }
  }

  &__cart{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;

    &_icon{
      width: 30px;
      height: 30px;
    }

    &_counter{
      position: absolute;
      left: 18px;
      top: 18px;
      background-color: rgba(255, 0, 0, 0.7);
      width: 15px;
      height: 15px;
      border-radius: 10px;
      text-align: center;
      color: #fafafa;
    }

  }
}

.items{
  display: grid;
  grid-template-columns: repeat(4, 280px);
  column-gap: 25px;
  row-gap: 25px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  &__item{
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    width: 280px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_name{
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
      width: 100%;
      height: 40px;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 10px;
    }

    &_img{
      width: 180px;
      height: 120px;
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
      margin-bottom: 10px;
    }

    &_price{
      text-transform: uppercase;
      font-weight: bolder;
      margin-bottom: 10px;
    }

    &_btn{
      background-color: #fafafa;
      border: 1px solid rgba(0,0,0,.1);
      padding: 5px;
      border-radius: 5px;
      margin-right: 150px;
      cursor: pointer;
    }

    &_star{
      cursor: pointer;
    }


  }
}

.btn{
  margin-right: 20px;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed   ;
  left: 1130px;
  top: 450px;


  .modOver{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;  
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer; 
  
}

.modWind{
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    background-color: #ffffff;
    z-index: 10;

    .modHeader{
      display: flex;
      margin-bottom: 40px;

      .headerTitle{
        text-transform: uppercase;  
      }

        .headerClose{
        margin-left: 120px;
        cursor: pointer;
      }
    }

    .modText{
      margin-bottom: 30px;
    }

    .modFooter{
      margin-bottom: 10px;

      .btnMod{
        border: 1px solid #5c5c5c;
        border-radius: 5px;
        
        &:first-child{
          margin-right: 10px;
        }
      }
    }
  }
}
